@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url(https://th.bing.com/th/id/R.efdf1eafdbb89b25e701dff9da87e8dd?rik=7JRj4qGaDsz0Qw&pid=ImgRaw&r=0);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}